name = "botdracin-landingpage"
compatibility_date = "2025-02-10"

[build]
command = "npm run build"
[build.upload]
format = "service-worker"

[[build.upload.rules]]
type = "ESModule"
globs = ["**/*.js"]
fallthrough = true
